<!DOCTYPE html>
<html>
  <head>
    <title>Elises Massage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <header class='header'>
      <a href="/">Home</a>
    </header>

    <footer class='footer'>
      <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </footer>
  </body>
</html>
