<!DOCTYPE html>
<html>
  <head>
    <title>Elises Massage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">






  </head>

  <body>
    <%= yield %>

    <footer class='footer'>
      <ul>
        <li class="footer-btn"><a href="/contact">Contact</a></li>
        <li class="footer-btn"><a href="/services">Services</a></li>
        <li class="footer-btn"><a href="/about">About</a></li>
      </ul>
    </footer>
  </body>
    <script>

      $(function() {
        $('a.page-scroll').bind('click', function(event) {
          var $anchor = $(this);
            $('html, body').stop().animate({
              scrollTop: $($anchor.attr('href')).offset().top
            }, 1500, 'easeInOutExpo');
              event.preventDefault();
          });
      });

      // Highlight the top nav as scrolling occurs
      $('body').scrollspy({
          target: '.navbar-fixed-top'
      })

      // Closes the Responsive Menu on Menu Item Click
      $('.navbar-collapse ul li a').click(function() {
          $('.navbar-toggle:visible').click();
      });

    </script>
</html>
